.profile__info {
    max-width: 336px;
    color: #FFF;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


@media screen and (max-width:877px) {
    .profile__info {
        justify-content: center;
        padding-left: 0;
        margin-top: 20px;

    }
}

@media screen and (max-width:320px) {
    .profile__info {
        margin-top: 26px;
        max-width: 282px;
    }
}
