
.popup__save-button {
    border-radius: 2px;
    background: #000;
    width: 358px;
    height: 50px;
    margin-left: 36px;
    margin-right: 36px;
    padding: 0;
    margin-top: 34px;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
     margin-bottom: 37px;
     font-family: 'Inter', sans-serif;
}

.popup__save-button:hover {
    opacity: 0.8;
    transition: .9s;

}

@media screen and (min-width:320px) and (max-width:639px) {
    .popup__save-button {
        margin-top: 31px;
        margin-left: 22px;
        width: 238px;
        height: 46px;
        margin-bottom: 25px;
        font-size: 14px;
    }
}