.popup__title {
    margin-top: 34px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 36px;
    margin-bottom: 0;
    max-width: 330px;
    font-family: 'Inter', sans-serif;

}


@media screen and (min-width:320px) and (max-width:639px) {
    .popup__title {
        font-size: 18px;
        margin-left: 22px;
        margin-top: 25px;
        max-width: 238px;
    }
}