.popup__close-button_login{
        background-image: url(../../../../images/Close\ Icon.svg);
        position: absolute;
        background-repeat: no-repeat;
        padding: 0;
        width: 32px;
        height: 32px;
        border: none;
        right: -31px;
        top: -57px;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
    }
    
    .popup__close-button:hover {
        opacity: 0.6;
            transition: .5s;
    
    }
