
.profile {
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}


@media screen and (min-width:320px) and (max-width:877px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
    }
}


