.footer {
    margin-top: 67px;
    padding-bottom: 60px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width:320px) {
    .footer {
        margin-top: 48px;
        margin-bottom: 36px;
        max-width: 282px;
    }
}