
.profile__info-edit-button {
    margin-left: 18px;
    margin-top: 15px;
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
    background-image: url(../../../images/Vector\ \(1\).svg);
    background-repeat: no-repeat;
    border: 1px solid #FFF;
    background-position: center;
    transition: 0.5s;
    cursor: pointer;
    background-size: 10px 10px;

}

.profile__info-edit-button:hover {
    opacity: 0.6;
}


@media screen and (min-width:320px) and (max-width:877px) {
    .profile__info-edit-button {
        margin-top: 8px;
        margin-left: 10px;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}