.profile__add-button {
    margin-left: auto;
    margin-right: 0;
    border-radius: 2px;
    border: 2px solid #FFF;
    width: 150px;
    height: 50px;
    align-items: center;
    background-image: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    cursor: pointer;
    background-size: 22px 22px;
}


.profile__add-button:hover {
    opacity: 0.6;
}



@media screen and (min-width:320px) and (max-width:877px) {
    .profile__add-button {
        width: 282px;
        margin-top: 32px;
        background-size: 16px 16px;
    }
}

