.popup__input_type_error {
    border-bottom: 1px solid #F00;
    width: 358px;
    height: 14px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-top: 49px;
    margin-left: 36px;
    border-left: none;
    border-top: none;
    border-right: none;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}





@media screen and (min-width:320px) and (max-width:639px) {
    .popup__input_type_error {
        margin-top: 75px;
        margin-left: 22px;
        width: 238px;

    }
}
