.popup__photo-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;

}