.elements__element-item-group {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Group.svg);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    cursor: pointer;
    background-repeat: no-repeat;
    padding: 0;
    
}

.elements__element-item-group:hover {
    opacity: 0.5;
}
