.profile__info-name {
    max-width: 294px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    padding-bottom: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



@media screen and (min-width:320px) and (max-width:877px) {
    .profile__info-name {
        max-width: 189px;
        font-size: 27px;
        line-height: normal;
        padding-bottom: 10px;
        text-align: center;
    }
}
