.popup__input {
    width: 358px;
    height: 14px;
    padding-bottom: 13px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-top: 54px;
    margin-left: 36px;
    margin-right: 36px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Inter', sans-serif;

}

/* .popup__input:last-of-type{
    margin-top: 15.74px;
} */



@media screen and (min-width:320px) and (max-width:639px) {
    .popup__input {
        margin-top: 75px;
        margin-left: 22px;
        margin-right: 22px;
        width: 238px;

    }
}


